<form name="resetPasswordForm">

    <div class="row">
        <div class="form-group col-sm-12">
            <a class="btn btn-app btn-bitbucket pull-left" ui-sref="usersAdmin">
                <i class="fa fa-arrow-right"></i>
                חזרה
            </a>

        </div>
    </div>

    <div class="row">
        <div class="form-group" ng-class="{'has-error':resetPasswordForm.newPassword.$invalid}">
            <label class="col-sm-3">
                סיסמה חדשה
                <small ng-messages="resetPasswordForm.newPassword.$error" role="alert" ng-if="resetPasswordForm.newPassword.$invalid">
                    <div ng-message="pattern"><i class="fa fa-warning">&nbsp;</i>סיסמה חייבת להיות בת 6 תוים לפחות ולכלול אות קטנה, אות גדולה, סימן וספרה</div>
                </small>
            </label>
            <input name="newPassword" type="password" class="col-sm-6 form-control" ng-model="vm.passwordResetContext.newPassword" ng-pattern="/^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).+$/" />

            <button class="btn-primary btn" style="margin-right: 1em" ng-disabled="resetPasswordForm.$invalid || !vm.passwordResetContext.newPassword.length" ng-click="vm.resetPassword()">עדכן סיסמה</button>
        </div>
    </div>

    <div class="row">
        <div class="form-group" ng-class="{'has-error':resetPasswordForm.confirmNewPassword.$invalid}">
            <label class="col-sm-3">
                אימות סיסמה
                <small role="alert" ng-if="resetPasswordForm.confirmNewPassword.$invalid">
                    <div><i class="fa fa-warning">&nbsp;</i> הסיסמאות אינן תואמות</div>
                </small>
            </label>
            <input name="confirmNewPassword" type="password" class="col-sm-6 form-control" ng-model="vm.passwordResetContext.confirmNewPassword" compare-to="vm.passwordResetContext.newPassword" />

        </div>
    </div>
</form>