<div class="box box-danger">
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th ng-click="vm.reorderBy('ID')">#</th>
                <th ng-click="vm.reorderBy('QuestionText')">נוסח שאלה</th>
               <th></th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="entity in vm.entities">
                <td>{{ entity.ID }}</td>
                <td>{{ entity.QuestionText}}</td>
                <td>
                    <a class="btn btn-sm btn-primary" ng-if="vm.canEdit" ui-sref="ratingQuestions.details({id:entity.ID})">הצג</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

